body {
	background-color: rgb(112, 171, 230);
	font-family: sans-serif;
	text-align: center;
}

main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 80%;
	max-width: 800px;
	margin: auto;
}

canvas {
	background-color: #eee;
}

audio {
	width: 100%;
}

#settings {
	display: flex;
}

select, option {
	width: 150px;
	background-color: rgba(240, 240, 240, 0.7);
	border: none;
	box-sizing: border-box;
	height: 100%;
	margin-left: auto;
}

input {
	border: none;
	box-sizing: border-box;
	height: 100%;
}